#---------------------------------------#
# Linux Ignores                         #
#---------------------------------------#
# directory preferences
.directory

#---------------------------------------#
# OSX Ignores                           #
#---------------------------------------#
.DS_Store
.AppleDouble
.LSOverride
.localized

#---------------------------------------#
# Windows Ignores                       #
#---------------------------------------#
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# LSP stuff
.ruby-lsp/

# python stuff
__pycache__/
